<div id="header">
  <button class="btn btn-danger" onclick="window.location.href='/';">Home</button>
  <button class="btn btn-danger" onclick="window.location.href='/vendor';">Vendors</button>
  <button class="btn btn-danger" onclick="window.location.href='/vendor/new';">Add a Vendor</button>
</div>