<div id="header">
    <button class="btn btn-danger" onclick="window.location.href='/';">Home</button>
    <button class="btn btn-danger" onclick="window.location.href='/vendors';">Vendors</button>
    <button class="btn btn-danger" onclick="window.location.href='/vendors/create';">Add a Vendor</button>

</div>