@{
  Layout = "_Layout";
}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Vendor Tracker</h1>
  </div>
  <div id="landing-page">
    <div class="card">
      <div class="card-body">
        <p>This program is design to help track vendors and vendor orders. You can add vendors and give a small description about them and then you can add orders to the vendors. The program also allows for venders and orders to be deleted or edited at any time.</p>
        <button class="btn btn-outline-danger" onclick="window.location.href='/vendor';">Vendors Page</button>
      </div>
    </div>
  </div>
  
  @Html.Partial("Header")
  @Html.Partial("Footer")
</div>